@using MyNews.Common
@model MyNews.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>We have:</p>
    <ul>
        <li>Articles: @Model.ArticlesCount</li>
        <li>Categories: @Model.CategoriesCount</li> 
        <li>Images: @Model.ImagesCount</li>
        <li>Tags: @Model.TagsCount</li>      
    </ul>
</div>
